<ion-side-menu enable-menu-with-back-views ="true">
	<ion-side-menu-content>
		<ion-bar-nav class="bar-dark">
			<ion-nav-button side="left">
				<button class="button button-icon button-clear ion-
				navicon-round" menu-roggle = "left"/>
			</ion-nav-button>
		</ion-nav-bar>
		<ion-nav-view name="side-menu"></ion-nav-view>
	</ion-side-menu-content>
	<ion-side-menu side="left" id="side-menu">
		<ion-header-bar class="bar-positive">
			<div class="title">Menu</div>
		</ion-header-bar>
		<ion-content>
			<ion-list menu-close>
				<ion-Item href="#menu/page">Inicio</ion-Item>
				<ion-Item href="#/menu/acerca">Acerca de </ion-Item>
			</ion-list>
		</ion-content>
	</ion-side-menu>>
</ion>